<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta 
      name="viewport" 
      content ="width=device-width, initial-scale=1"/>

    <link 
      rel="stylesheet" 
      type="text/css" 
      href="{{url_for('static', filename ='bootstrap.min.css') }}">
    <link 
      rel="stylesheet" 
      type="text/css" 
      href="{{url_for('static', filename ='styles.css') }}">

    <title>{%block title%}{%endblock%}</title>    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
		<a class="navbar-brand" 
		href="/">Painting App
		</a>
		<div class="vr mr-2"></div>
        <button 
			class="navbar-toggler" 
			type="button" 
			data-bs-toggle="collapse" 
			data-bs-target="#navbarNavAltMarkup" 
			aria-controls="navbarNavAltMarkup" 
			aria-expanded="false" 
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div 
			class="collapse navbar-collapse" 
			id="navbarNavAltMarkup">
			<div class="navbar-nav d-flex flex-fill justify-content-end">
				{%block navbar_content %}
				<!--Lokala navbar-delar-->
				{% endblock %}
			</div>
		</div>
      </div>
    </nav>
		<div class="container">
			{% for message in get_flashed_messages() %}
			<div class="row justify-content-center">
				<div class="alert alert-success alert-dismissible fade show align-items-center col-3 mt-3 shadow" role="alert">
					<p class="text-center mb-0">{{message}}<p>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
			<script type="text/javascript">
				setTimeout(function() {
        			bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
    			}, 2000)
			</script>
			{% endfor %}
			{% block main_content %}
			<!--Här läggs alla kort, forms, etc. -->
			{% endblock %}
		</div>

		
		<script 
			type="text/javascript" 
			src="{{url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
		<script 
			type="text/javascript" 
			src="{{url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
		<!--<script 
			type="text/javascript" 
			src="{{url_for('static', filename='bootstrap.min.js') }}"></script>-->
		

	</body>
</html> 
