{% extends "base.html" %}

{% block title %} Manage Database {% endblock %}

{% block navbar_content %}

<form class="d-flex justify-content-end" method="POST" autocomplete="off">
    <div class="d-flex navbar-text">
        Add paint:
    </div>
    <input class="form-control mx-2" name="paint" placeholder="Paint" aria_label="Paint" required>
    <div class="d-flex navbar-text">
        Add method:
    </div>
    <input class="form-control mx-2" name="method" placeholder="Method" aria_label="Method" required>
    <button class="btn btn-outline-secondary ms-1" type="submit">Add</button>
</form>


{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-6">
            {% for paint in paints %}
            <div class="container-fluid d-flex align-items-center mt-1 rounded-3" style="border:1px solid rgb(138, 138, 138);">
                <div class="flex-fill justify-content-start">
                    {{paint.paint_name}}
                </div>
                <div class="d-flex align-items-center"> 
                    <form method="POST" action="{{url_for('views.delete_paint', paint_id=paint.id)}}">
                        <button class="btn btn-outline-danger " type="submit">Delete</button>
                    </form>
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="col-6">
            {% for method in methods %}
                <div class="container-fluid d-flex align-items-center mt-1 rounded-3" style="border:1px solid rgb(138, 138, 138);">
                    <div class="flex-fill justify-content-start">
                    {{method.method_name}}
                    </div>
                    <div class="d-flex align-items-center"> 
                    <form method="POST" action="{{url_for('views.delete_method', method_id=method.id)}}">
                        <button class="btn btn-outline-danger " type="submit">Delete</button>
                    </form>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>  
{% endblock %}