{% extends "base.html" %}

{% block title %} Manage Database {% endblock %}

{% block navbar_content %}
<span class="d-flex navbar-text">
    Add paint and/or method:
</span>
<form class="d-flex justify-content-end" method="POST" autocomplete="off">
    <input class="form-control mx-2" name="paint" placeholder="Paint" aria_label="Paint">
    <input class="form-control mx-2" name="method" placeholder="Method" aria_label="Method">
    <button class="btn btn-outline-secondary ms-1" type="submit">Add</button>
</form>


{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-6">
            <h5 class="text-center"> Paints </h5>
            {% for paint in paints %}
            <div class="container-fluid d-flex align-items-center mt-1 rounded-3">
                <div class="flex-fill justify-content-start">
                    {{paint.paint_name}}
                </div>
                <div class="d-flex align-items-center"> 
                    <form method="POST" action="{{url_for('views.delete_paint', paint_id=paint.id)}}">
                        <button class="btn-close btn-outline-danger " type="submit"></button>
                    </form>
                </div>
            </div>
            <hr>
            {%endfor%}
        </div>
        <div class="col-6">
            <h5 class="text-center"> Methods </h5>
            {% for method in methods %}
                <div class="container-fluid d-flex align-items-center mt-1 rounded-3">
                    <div class="flex-fill justify-content-start">
                    {{method.method_name}}
                    </div>
                    <div class="d-flex align-items-center"> 
                    <form method="POST" action="{{url_for('views.delete_method', method_id=method.id)}}">
                        <button class="btn-close btn-outline-danger " type="submit"></button>
                    </form>
                </div>
            </div>
            <hr>
            {%endfor%}
        </div>
    </div>  
{% endblock %}