{% extends "base.html" %}

{% block title %} {{scheme.scheme_name}} {% endblock %}

{% block navbar_content %}
    <span class="d-flex navbar-text">
        Add area:
    </span>
    <form class="d-flex  justify-content-end" method="POST">
        <input class="form-control mx-2" name="name" placeholder="Name" aria_label="Name">
        <button class="btn btn-outline-secondary ms-1" type="submit">Add</button>
    </form>
    <div class="vr ms-3"></div>
    <form method="POST" class="d-flex justify-content-end ms-3" action="{{url_for('views.delete_scheme', scheme_id=scheme_id)}}"> 
        <button class="btn btn-outline-danger " type="submit">Delete Scheme</button>
    </form>
    <h3 class="navbar-text mx-2 flex-fill position-absolute top-50 start-50 translate-middle">{{scheme.scheme_name}}</h3>
{% endblock %}

{% block main_content %}
    <div class="row">
        {% for area in scheme_areas %}
            <div class="col-xs-6 col-md-4 col-xl-3 mt-2">
                <div class="card shadow">
                    <h5 class="card-text text-center"> {{area.area}} </h5>
                    <div class="row">
                        {% for step in steps %}
                        {% if step.area_id == area.id%}
                        <div class="col-6 card-text text-center">
                        {{step.paints.paint_name}}
                        
                        </div>
                        <div class="col-6 card-text text-center">
                        {{step.methods.method_name}}
                        </div>
                        
                        {%endif%}
                        {%endfor%}
                        <a class="stretched-link" href="{{url_for('views.set_area', scheme_id=scheme.id, area_id=area.id)}}" ></a>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
{% endblock %}